<mat-toolbar color="primary">
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="addDayOff()">
    ADD Day-off application
  </button>
</mat-toolbar>
<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>date</th>
        <td mat-cell *matCellDef="let row">{{ row.date.substring(0, 10) }}</td>
      </ng-container>

      <!-- Name Column -->

      <!-- Fruit Column -->
      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>content</th>
        <td mat-cell *matCellDef="let row">{{ row.content }}</td>
      </ng-container>
      <ng-container matColumnDef="applicationName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          applicationName
        </th>
        <td mat-cell *matCellDef="let row">{{ row.applicationName }}</td>
      </ng-container>
      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>employeeName</th>
        <td mat-cell *matCellDef="let row">{{ row.employeeName }}</td>
      </ng-container>
      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>employeeId</th>
        <td mat-cell *matCellDef="let row">{{ row.employeeId }}</td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>state</th>
        <td mat-cell *matCellDef="let row">{{ row.state }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Approve</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="onApproved(row.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</div>
