<div mat-dialog-title>
  <h1>Employees Form</h1>
</div>
<form [formGroup]="empForm">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Check-Out</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. 13:59:59"
          formControlName="CheckOut"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <div mat-dialog-actions class="action">
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="onCheckOut()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>
