<div class="header">
  <ul class="header-menu">
    <li><a routerLink="Employee">Employee</a></li>
    <li><a routerLink="Day_off">Day-off application</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
