.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu li {
  display: inline;
  margin-right: 20px;
}

.header-menu li:last-child {
  margin-right: 0;
}

.header-menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
