<div mat-dialog-title>
  <h1>Employees Form</h1>
</div>
<form [formGroup]="empForm">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. 13:59:59"
          formControlName="check_time"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Employee ID</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. 13:59:59"
          formControlName="employee_id"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Document type</mat-label>
        <mat-select formControlName="applications">
          <mat-option
            *ngFor="let application of applications"
            [value]="application"
            >{{ application }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="ahihi">
        <mat-label>Body</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. 13:59:59"
          formControlName="content"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <div mat-dialog-actions class="action">
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="onAdd()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>
