<div class="main-body">
  <div class="demo-button-container">
    <button
      mat-raised-button
      class="demo-button"
      color="primary"
      (click)="openCheckin()"
    >
      Check-In
    </button>
    <button
      mat-raised-button
      class="demo-button"
      color="warn"
      (click)="openCheckOut()"
    >
      check-Out
    </button>
  </div>
  <div class="sub-header">
    Số ngày đi muộn trong tháng:
    <span class="sub">{{ numberLate }}</span>

    Số ngày về sớm trong tháng: <span class="sub">{{ numberSoon }}</span>

    Số ngày nghỉ không phép: <span class="sub">{{ numberOut }}</span>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table"
  >
    <!-- Position Column -->

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Check-In/check-Out</th>
      <td mat-cell *matCellDef="let element">
        {{ element.checkIn }}/{{ element.checkOut }}
      </td>
    </ng-container>

    <ng-container matColumnDef="checktype">
      <th mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let element">{{ element.state }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
