.button-container {
  padding-left: 90px;
}
.example-spacer {
  flex: 1 1 auto;
}
.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1200px;
  mat-form-field {
    width: 100%;
  }
}
.sub {
  font-weight: bold;
  color: red;
  font-size: 20px;
  margin: 10px;
}
.sub-header {
  margin-top: 20px;
  margin-bottom: 20px;
}
